<h1>The Bonkers Burger Store</h1>

<h2>Help yourself to a Bonkers Burger!</h2>
<ul>
    {{#each burgers}} 
        {{#unless devoured}}
            <li>{{burger_name}} <button class='name' id={{id}}>Go Bonkers and Devour It!</button></li>
        {{/unless}}
    {{/each}}
</ul>

<h3>Devoured Bonker Burgers</h3>
<ul>
    {{#each burgers}}
        {{#if devoured}}
        <li>{{burger_name}}</li>
        {{/if}}
    {{/each}}
</ul>

<form action='/api/new' method="POST">
    <label for="burger_name">Create Your Own Burger! <input type='text' name='burger_name' id='burger_name'></label>
    <button type="submit" class='name'>ADD YOUR BURGER</button>
</form>

